@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.container{
  width: 300px;
  height: 100px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  font-family: 'Limelight', cursive;
}
